[Unit]
Description=Mjpeg proxy service
After=syslog.target network.target pulseaudio.socket

[Service]
ExecStart=/usr/bin/node /home/%USER%/node-mjpeg-proxy/express-app.js

Restart=on-failure
KillSignal=SIGINT

# log output to syslog as 'mjpeg_proxy'
SyslogIdentifier=mjpeg_proxy
StandardOutput=syslog

# non-root user to run as
WorkingDirectory=/home/%USER%/node-mjpeg-proxy
User=%USER%
Group=%USER%

[Install]
WantedBy=multi-user.target


